<form class="filters-container" [formGroup]="activityFilterForm">
  <div>Minimum Price:</div>
  <mat-slider formControlName="min" thumbLabel tickInterval="1" min="0" value="0" max="50"></mat-slider>
  <div>Maximum Price:</div>
  <mat-slider formControlName="max"
    thumbLabel
    tickInterval="1"
    min="51"
    max="100"
    value="51"
  ></mat-slider>
  <mat-form-field>
    <mat-label>Activity Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="">Choose one</mat-option>
      <ng-container *ngFor="let option of activityTypes">
        <mat-option value="{{option}}">{{option}}</mat-option>
      </ng-container>
      <mat-option value=""></mat-option>
    </mat-select> </mat-form-field
  ><br />
  <button mat-raised-button (click)="submitFilterValues()">Submit</button>
</form>
