.content {
  width: 600px;
  margin: 20px auto;
  background-color: #fff;
}

.page-container {
  height: 100%;
}

.activity-card {
  width: 100%;
  border: 1px solid black;
}

#red-font {
  color: red;
}
